<div class="link-wrapper-mobile">
    <a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ">[Google Scholar:amir pasha]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/BDHU" rel="me">[GitHub:https://amirpashazadeh.github.io/]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://twitter.com/BodunHu">[Twitter:i don't have it]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://www.bodunhu.com/blog/">[Blog:https://amirpashazadeh.github.io/]</a>
    <span style="margin-left: 5px;"></span>
    <a href="https://github.com/BDHU/minimalist">[Project Repository:none]</a>
</div>